body {
    background-color: skyblue;
}
table{
  margin: 0 auto;
  border-color: blue;
  border-radius: 6px;
  background-color: white;
}
td {
  text-align: center;
  color: blue;
  width: 100px;
  height: 100px;
  border-radius: 6px;
  font-size: large;
}
td:hover {
  color: green;
}
input {
  width:auto;
  height: auto;
}
h1 {
  text-align: center;
}
